@model  TravellerCore.Data.LogicalTravelModel 
@{
    int id = ViewBag.Id;
}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/Home/Index">HOME <span class="sr-only">(current)</span></a></li>
                <li><a href="/Home/About">ABOUT </a></li>
                <li><a href="/Home/Contact">CONTACT </a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="row tour">

    <div class="col-sm-12">
        <div class="img_edit">
            <br />
            @Html.SelectImg(id)
            <br />
        </div>
        <div class="img_edit">
            <br />
            @ViewBag.Message
            <br />
            <form asp-antiforgery="true" method="POST" action="Edit" enctype="multipart/form-data">
                <br />
                <input type="hidden" id="id" name="id" value="@Model.Id" />
                <br />
                <h5>Выберите файл для загрузки</h5>
                <input type="file" name="upload" id="upload" /><br>
                <br />
                <h5>Hotel's name</h5>
                <input asp-for="NameHotel" type="text" id="nameHotel" name="nameHotel" value="@Model.NameHotel" class="form-control" />
                <span asp-validation-for="NameHotel"></span>
                <br />
                <h5>date of arrival</h5>
                <input asp-for="DateArrival" type="date" id="dateArrival" name="dateArrival" value="@Model.DateArrival" class="form-control" />
                <span asp-validation-for="DateArrival"></span>
                <br />
                <h5>price</h5>
                <input asp-for="Price" type="number" id="price" name="price" value="@Model.Price" class="form-control" />
                <span asp-validation-for="Price"></span>
                <br />
                <h5>amount day</h5>
                <input asp-for="AmountDay" type="number" id="amountDay" name="amountDay" value="@Model.AmountDay" class="form-control" />
                <span asp-validation-for="AmountDay"></span>
                <br />
                <h5>about hotel</h5>
                <input asp-for="AboutHotel" type="text" id="aboutHotel" name="aboutHotel" value="@Model.AboutHotel" class="form-control" />
                <span asp-validation-for="AboutHotel"></span>
                <br />
                <input type="submit" name="edit" id="edit" value="Edit" class="btn btn-info" />
                <br />
            </form>
        </div>
    </div>
</div>

